<template>
    <div>
    </div>
</template>

<script>
    import { mapActions } from 'vuex';

    export default {
        name: "OidcLogoutCallback",
        methods: {
            ...mapActions('oidcStore',[
                'signOutOidcCallback'
            ])
        },
        mounted () {
            this.signOutOidcCallback()
                .then((redirectPath) => {
                    this.$router.push(redirectPath)
                })
                .catch((err) => {
                    this.$log.error(err)
                    this.$router.push('/oidc-callback-error') // Handle errors any way you want
                })
        }
    }
</script>

<style scoped>

</style>