<template>
    <v-container fliud>
        <div v-if="this.oidcIsAuthenticated()">
            <hello-world/>
        </div>
        <div v-else>
            <v-row>
                <v-col>
                    <h1>Welcome to Connectify</h1>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <v-btn color="primary" @click="authenticateOidc">Log In</v-btn>
                </v-col>
            </v-row>
        </div>

    </v-container>
</template>

<script>
    // @ is an alias to /src
    import HelloWorld from "../components/HelloWorld";
    import {mapActions, mapGetters} from 'vuex';

    export default {
        name: 'Home',
        methods: {
            ...mapActions('oidcStore', ['authenticateOidc']),
            ...mapGetters('oidcStore', ['oidcIsAuthenticated'])
        },
        components:{
            HelloWorld
        }
    }
</script>
