<template>
    <v-container>
        <v-row>
            <v-col cols="12" md="3">
                <profile-details-card/>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import ProfileDetailsCard from "../components/ProfileDetailsCard";

    export default {
        name: "ProfileView",
        components: {
            profileDetailsCard : ProfileDetailsCard
        }
    }
</script>

<style scoped>

</style>