<template>
    <v-container>
        <v-row>
            <v-col cols="12" md="4">
                <appointment-list class="pa-16"/>
                <pending-appointments class="pa-16" :appointments="appointments"/>
            </v-col>
            <v-col cols="12" md="8">
                <calendar/>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import Calendar from "../components/Calendar";
    import AppointmentList from "../components/AppointmentList";
    import PendingAppointments from "../components/PendingAppointments";

    export default {
        name: "ScheduleView",
        components: {
            PendingAppointments,
            calendar: Calendar,
            appointmentList: AppointmentList
        },
        data(){
            return {
                appointments: [
                    {
                        date: new Date(Date.now()).toDateString(),
                        startTime: '11:00',
                        endTime: '13:00',
                        attendee: 'John Doe'
                    }
                ]
            }
        }
    }
</script>

<style scoped>

</style>