<template>
    <v-container>
        <v-row>
            <v-col>
                <h3> Page is Under Construction</h3>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        name: "UnderConstruction"
    }
</script>

<style scoped>

</style>