<template>
    <v-card>
        <v-card-title>{{appointment.date}}</v-card-title>
        <v-card-text>
            <div class="text--primary">
                Start Time: {{appointment.startTime}}<br>
                End Time: {{appointment.endTime}} <br>
                Attendee: {{appointment.attendee}}
            </div>
        </v-card-text>
    </v-card>
</template>

<script>
    export default {
        name: "AppointmentCard",
        props: {
            appointment: {
                type: Object,
                required: true
            }
        }
    }
</script>

<style scoped>

</style>