<template>
    <div>

        <h2>Upcoming Appointments</h2>

        <appointment-card v-for="(appointment, i) in this.appointments"
                          :key="i" :appointment="appointment"/>

    </div>
</template>

<script>
    import AppointmentCard from "./AppointmentCard";

    export default {
        name: "AppointmentList",
        data() {
            return {
                appointments: [
                    {
                        date: new Date(Date.now()).toDateString(),
                        startTime: '11:00',
                        endTime: '13:00',
                        attendee: 'John Doe'
                    }
                ]
            }
        },
        components: {
            appointmentCard: AppointmentCard
        }
    }
</script>

<style scoped>

</style>