<template>


    <v-navigation-drawer
            permanent
            app
            color="primary"
            dark
            v-if="isAuthenticated">
        <v-list-item>
            <v-list-item-content>
                <v-list-item-title class="title">
                    Connect Resource
                </v-list-item-title>
                <v-list-item-subtitle>
                    subtext
                </v-list-item-subtitle>
            </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>

        <v-list
                dense
                nav
        >
            <v-list-item link :to="{name: 'Home'}">
                <v-list-item-icon><v-icon>mdi-home</v-icon></v-list-item-icon>
                <v-list-item-content><v-list-item-title>Home</v-list-item-title></v-list-item-content>
            </v-list-item>
            <v-list-item link :to="{name: 'About'}">
                <v-list-item-icon><v-icon>mdi-information</v-icon></v-list-item-icon>
                <v-list-item-content><v-list-item-title>About</v-list-item-title></v-list-item-content>
            </v-list-item>
            <v-list-item link :to="{name: 'Messages'}">
                <v-list-item-icon><v-icon>mdi-message</v-icon></v-list-item-icon>
                <v-list-item-content><v-list-item-title>Messages</v-list-item-title></v-list-item-content>
            </v-list-item>
            <v-list-item link :to="{name: 'Schedule'}">
                <v-list-item-icon><v-icon>mdi-calendar-arrow-right</v-icon></v-list-item-icon>
                <v-list-item-content><v-list-item-title>Schedule</v-list-item-title></v-list-item-content>
            </v-list-item>
            <v-list-item link :to="{name: 'Account'}">
                <v-list-item-icon><v-icon>mdi-account</v-icon></v-list-item-icon>
                <v-list-item-content><v-list-item-title>Account</v-list-item-title></v-list-item-content>
            </v-list-item>
            <v-list-item link :to="{name: 'Profile'}">
                <v-list-item-icon><v-icon>mdi-account-details</v-icon></v-list-item-icon>
                <v-list-item-content><v-list-item-title>Profile</v-list-item-title></v-list-item-content>
            </v-list-item>
            <v-list-item  v-if="hasAccess()" link :to="{name: 'User Management'}">
                <v-list-item-icon><v-icon>mdi-briefcase-account</v-icon></v-list-item-icon>
                <v-list-item-content><v-list-item-title>User Management</v-list-item-title></v-list-item-content>
            </v-list-item>
        </v-list>
    </v-navigation-drawer>

</template>

<script>
    import { mapState} from 'vuex';

    export default {
        name: "NavigationDrawer",
        props:{
          isAuthenticated: {
              type: Boolean,
              required: true
          }
        },
        data() {
            return {
                items: [
                    {title: 'Home', icon: 'mdi-home'},
                    {title: 'About', icon: 'mdi-information'},
                    {title: 'Messages', icon: 'mdi-message'},
                    {title: 'Schedule', icon: 'mdi-calendar-arrow-right'},
                    {title: 'Account', icon: 'mdi-account'},
                    {title: 'Profile', icon: 'mdi-account-details'},
                    {title: 'User Management', icon: 'mdi-briefcase-account'}
                ],
                right: null,
            }
        },
        methods:{

            hasAccess(){
                let groups  = this.user['cognito:groups']
                return groups.includes('admin')
            }
        },
        computed: {
        ...mapState('oidcStore', ['user'])
        }
    }
</script>

<style scoped>

</style>