<template>
    <div>
        <h2>Pending Appointments</h2>
        <pending-appointment-card v-for="(appointment,i) in appointments" :key="i" :appointment="appointment"/>
    </div>
</template>

<script>
    import PendingAppointmentCard from "./PendingAppointmentCard";
    export default {
        name: "PendingAppointments",
        components: {PendingAppointmentCard},
        props:{
            appointments: {
                type: Array,
                required: true
            }
        }
    }
</script>

<style scoped>

</style>