<template>
    <v-card
            max-width="344"
    >
        <v-card-title>{{appointment.date}}</v-card-title>
        <v-card-text>
            <div class="text--primary">
                Start Time: {{appointment.startTime}}<br>
                End Time: {{appointment.endTime}} <br>
                Attendee: {{appointment.attendee}}
            </div>
        </v-card-text>
        <v-card-actions>
            <v-btn  color="primary">Accept</v-btn>
            <v-btn color="warn">Reject</v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
    export default {
        name: "PendingAppointmentCard",
        props: {
            appointment: {
                type: Object,
                required: true
            }
        }
    }
</script>

<style scoped>

</style>