<template>
    <v-card>
        <v-list>
            <v-subheader>Departments</v-subheader>
            <v-list-item
                v-for="(department,i) in departments"
                :key="i"
            >
                <v-list-item-title>{{department}}</v-list-item-title>
            </v-list-item>
        </v-list>
        <v-list>
            <v-subheader>Subjects</v-subheader>
            <v-list-item
                    v-for="(subject,i) in subjects"
                    :key="i"
            >
                <v-list-item-title>{{subject}}</v-list-item-title>
            </v-list-item>
        </v-list>
    </v-card>
</template>

<script>
    export default {
        name: "ProfileDetailsCard",
        data () {
            return {
                departments:[
                    'Bierce Tutoring Center',
                    'ASEC Bierce Tutoring Center'],
                subjects:[
                    'Calculus I',
                    'Calculus II',
                ]
            }
        }
    }
</script>

<style scoped>

</style>