<template>
    <v-app>

        <v-container>

            <navigation-drawer :is-authenticated="oidcIsAuthenticated"/>

            <v-content>
                <router-view/>
            </v-content>


        </v-container>

    </v-app>
</template>

<script>
    import { mapGetters} from 'vuex';
    import NavigationDrawer from "./components/NavigationDrawer";

    export default {
        name: 'App',

        components: {
            navigationDrawer: NavigationDrawer,
        },
        computed: {
            ...mapGetters('oidcStore', ['oidcIsAuthenticated'])
        }
    };
</script>
